<h1>Posts#dashboard</h1>
<p>Find me in app/views/posts/dashboard.html.erb</p>

<form id="create_posts">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="image_url">Image link</label>
    <input name="image_url" class="form-control">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" class="form-control"></textarea>
  </div>
  <button type="button" class="btn-success">Submit</button>
</form>