

<% @posts.each do |post| %>

<article class="post">
	<header>
    <div class="title">
      <h2><%= post.title%></h2>
    </div>
    <div class="meta">
      <time class="published"><%=post.created_at%></time>
    </div>
  </header>
  <table class="table">
    <tr>
      <td><a href="<% post.image_url%>" ><%= image_tag(post.image_url) %></a></td>
    </tr>
    <tr>
      <td><p><%= post.content%></p></td>
    </tr>
  </table>

</article>

<%end%>

<%# class="image featured" %>